<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>spring boot - vue </title>
    <link href="http://localhost:8888/static/css/app.30790115300ab27614ce176899523b62.css" rel="stylesheet" />
</head>
<body>
<div id="app">
    fdsaf
    <script type="text/javascript" src="http://localhost:8888/static/js/manifest.2ae2e69a05c33dfc65f8.js"></script>
    <script type="text/javascript" src="http://localhost:8888/static/js/vendor.57cf816270e5e8882eb3.js"></script>
    <script type="text/javascript" src="http://localhost:8888/static/js/app.bc68db98567d921a0b26.js"></script>
</div>
</body>
</html>
